.root {
  width: 350px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.fields {
  height: 150px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  text-align: center;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}
